$auth-form-background-color: $white;


body {
  background: url('public/bg.jpg');
  background-size: 100%;
  background-repeat-x: no-repeat;
  font-family: 'Aleo', serif;
}

.user-messages {
  color: $white;
  font-weight: bold;
  margin-left: 10px;
}

.sign-in-div,
.sign-up-div {
  background: url('public/jar-photo.jpg');
  background-size: 100%;
  background-repeat-x: no-repeat;
}

nav {
  z-index: 100;
}

.navbar {
  background-color: $burgundy;
  > .navbar-brand {
      color: $white;
      font-family: 'Indie Flower', cursive;
        .title {
          margin-bottom: 0;
        }
  }
}

.dropdown {
  position: relative;
}

// handlejars styling- basic boxes
main {
.hello {
  color: $white;
  font-weight: bold;
}
  // background-image: url('../../public/bg.jpg') no-repeat center center fixed;

  // @include make-container;
  // @include make-container-max-widths;
padding: 1rem;

  .content {
    @include media-breakpoint-up(sm) {
      column-count: 2;
    }
    @include media-breakpoint-up(md) {
      column-count: 3;
    }
    @include media-breakpoint-up(lg) {
      column-count: 4;
    }
    margin-top: 5vh;
  }

  .image-jar {
    // @include make-col-ready;
    background: white;
    border: 1px solid;
    margin-bottom: 10px;
    // border-right: 1px solid;
    cursor: pointer;
    outline: none;
    padding: 1rem;
    // overflow: hidden;
    break-inside: avoid;
    position: relative;
    text-align: center;

    p {
      margin-bottom: 0;
    }

    img {
      max-width: 100%;
    }

    small {
      color: black;
      display: block;
      font-size: 1rem;
    }
    .handwritten {
      font-family: 'Indie Flower', cursive;
    }
  }
}

.is-editable {
  display: none;
}
.image-jar:hover > .is-editable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  background: rgba(255, 255, 255, .5);
  content: '' attr(data-overlay);
  overflow: hidden;
}

.not-editable {
display: none;
}

.image-jar:hover > .not-editable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  background: rgba(255, 255, 255, .5);
  content: '' attr(data-overlay);
  overflow: hidden;
}

.initial-auth-form {
  align-items: center;
  background-color: $auth-form-background-color;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 40;

  > .user-messages {
    color: $burgundy;
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 80px;
    width: 100%;
    z-index: 200;
  }

  > .sign-in-div {
    align-items: center;
    background-color: $auth-form-background-color;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 50;

    > form {
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      > label {
        align-self: flex-start;
      }
    }
  }

  > .sign-up-div {
    align-items: center;
    background-color: $auth-form-background-color;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 45;

    > form {
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      > label {
        align-self: flex-start;
      }

      > select {
        align-self: flex-start;
        width: 100%;
      }
    }
  }
}

.upload-inputs {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.upload-lables {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 2.5em;
  margin-right: .5em;
}

.upload-lines {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.welcome-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
}

#map {
  height: 72vh;
}
